html,
body {
    height: 100%;
}

.carousel {
    height: 80%;
    overflow: hidden;
    position: relative;
    top: 10%;
    width: 100%;
}

.items {
    display: flex;
    height: 100%;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    width: 100%;
}

.item {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    width: 100%;
}
.item img {
    display: block;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
}
.item[data-current="true"][data-direction="next"] {
    -webkit-animation: jazzItUpNext 0.9s ease-in-out;
            animation: jazzItUpNext 0.9s ease-in-out;
}
.item[data-current="true"][data-direction="previous"] {
    -webkit-animation: jazzItUpPrevious 0.9s ease-in-out;
            animation: jazzItUpPrevious 0.9s ease-in-out;
}

.arrow {
    cursor: pointer;
    height: 40px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 40px;
}
.arrow:active {
    opacity: 0.9;
}
.arrow[data-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}

.next {
    border-right: 1px solid var(--sb-white);
    border-top: 1px solid var(--sb-white);
    right: 40px;
}

.previous {
    border-bottom: 1px solid var(--sb-white);
    border-left: 1px solid var(--sb-white);
    left: 40px;
}

@-webkit-keyframes jazzItUpNext {
    0% {
        -webkit-filter: drop-shadow(6vw 0 0 var(--sb-white))
            drop-shadow(6vw 0 0 var(--sb-lightgrey))
            drop-shadow(6vw 0 0 var(--sb-darkgrey));
                filter: drop-shadow(6vw 0 0 var(--sb-white))
            drop-shadow(6vw 0 0 var(--sb-lightgrey))
            drop-shadow(6vw 0 0 var(--sb-darkgrey));
    }
    100% {
        -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
                filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
}

@keyframes jazzItUpNext {
    0% {
        -webkit-filter: drop-shadow(6vw 0 0 var(--sb-white))
            drop-shadow(6vw 0 0 var(--sb-lightgrey))
            drop-shadow(6vw 0 0 var(--sb-darkgrey));
                filter: drop-shadow(6vw 0 0 var(--sb-white))
            drop-shadow(6vw 0 0 var(--sb-lightgrey))
            drop-shadow(6vw 0 0 var(--sb-darkgrey));
    }
    100% {
        -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
                filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
}

@-webkit-keyframes jazzItUpPrevious {
    0% {
        -webkit-filter: drop-shadow(-6vw 0 0 var(--sb-white))
            drop-shadow(-6vw 0 0 var(--sb-lightgrey))
            drop-shadow(-6vw 0 0 var(--sb-darkgrey));
                filter: drop-shadow(-6vw 0 0 var(--sb-white))
            drop-shadow(-6vw 0 0 var(--sb-lightgrey))
            drop-shadow(-6vw 0 0 var(--sb-darkgrey));
    }
    100% {
        -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
                filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
}

@keyframes jazzItUpPrevious {
    0% {
        -webkit-filter: drop-shadow(-6vw 0 0 var(--sb-white))
            drop-shadow(-6vw 0 0 var(--sb-lightgrey))
            drop-shadow(-6vw 0 0 var(--sb-darkgrey));
                filter: drop-shadow(-6vw 0 0 var(--sb-white))
            drop-shadow(-6vw 0 0 var(--sb-lightgrey))
            drop-shadow(-6vw 0 0 var(--sb-darkgrey));
    }
    100% {
        -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
                filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
}